<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <title>Your Social Media App</title>
</head>
<body>
    <header class="main-header">
        <div class="container">
            <nav>
                <div class="logo">
                    <img src="logo.png" alt="Your Logo">
                </div>
                <div class="back-button">
                    <a href="/" class="btn-back"><span class="material-symbols-outlined">
                        home
                        </span></a>
                </div>
                <div class="user-actions">
                    <a href="/users/signup">Sign Up</a>
                    <a href="/users/signin">Sign In</a>
                </div>
            </nav>
        </div>
    </header>
    <script src="/js/header.js"></script>
</body>
</html>
